body
{
  /* background-image:url('lambda.png'); 
   */
  /* background-image:url('simbolo.jpg');
   */
    background-image:url('background.png');
  /* background-color:#cccccc; */
  color: #000305;
  font-size: 87.5%; /* base font size is 14px */
  font-family: Arial, 'Lucila Sans Unicode';
  line-height: 1.5;
  text-align: left;
}

a {
  text-decoration: none; /* do not unfderline anchor links */
}

/*  
 *  a:link - a normal, unvisited link
 *  a:visited - a link the user has visited
 *  a:hover - a link when the user mouses over it
 *  a:active - a link the moment it is clicked
 */

a:link { color:#FF0000; }
a:visited { color:#00FF00; }
a:hover{ color:#FF00FF; }
a:active {color:#0000FF;}  /* selected link */

.body
{
  margin: 0 auto; /* This is the preferred way to accomplish
                     horizontal centering with CSS, and works very well in most browsers
                     with CSS2 support. */
  width: 60%;
  clear: both;

}

.mainHeader img {
  width: 5%;
  height: auto;
  margin: 2% 0; 
  /* The margin CSS property sets the margin for all four sides.
     It is a shorthand to avoid setting each side separately with the
     other margin properties: margin-top, margin-right, margin-bottom
     and margin-left.
   * Percentages refer to the width of the containing block
   * Formal syntax: [ <length> | <percentage> | auto ]{1,4}
   */
}

.mainHeader nav {
  background-color:#666;
  height: 40px;
  border-radius: 5px; /* Add rounded borders to a div element */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; /* WebKit supports a number of extensions to CSS that are prefixed with -webkit */
  /* See 
   * https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius?redirectlocale=en-US&redirectslug=CSS%2Fborder-radius
   */
}

.mainHeader nav ul {
  list-style: none;
  margin: 0 auto;
}

.mainHeader nav ul li {
   float: left; /* With CSS float, an element can be pushed to the
                   left or right, allowing other elements to wrap around it */
   display: inline;

}

.mainHeader nav a:link, .mainHeader nav a:visited {
  color:#FFF;
  display: inline-block;
  padding: 10px 10px;
  /* come back here later to assign heigth */
  height: 20px;
}


.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link,
.mainHeader nav .active a:visited {
   background-color: CF5C3F;
   text-shadow: none;
}

.mainHeader nav ul li a {
  border-radius: 5px; /* Add rounded borders to a div element */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; /* WebKit supports a number of extensions to CSS that are prefixed with -webkit */
}

.mainContent {
  line-height: 25px;
  border-radius: 5px; /* Add rounded borders to a div element */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; /* WebKit supports a number of extensions to CSS that are prefixed with -webkit */
  /*
   * overflow: hidden;
   */
}

.content {
   width: 50%;
   float:left
}

.topContent {
   margin-top: 2px;
   padding: 5% 3%;
   background-color: #FFF;
   border-radius: 5px; /* Add rounded borders to a div element */
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px; /* WebKit supports a number of extensions to CSS that are prefixed with -webkit */
}


.top-sidebar, .middle-sidebar, .bottom-sidebar {
  width: 45%;
  margin-left: 1%;
  margin-top: 2px;
  margin-bottom: 2%;
  float: left;
  padding: 1% 2%;
  background-color: #FFF;
   border-radius: 5px; /* Add rounded borders to a div element */
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px; /* WebKit supports a number of extensions to CSS that are prefixed with -webkit */
}
